<div class = "row" >
    <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
        <div class = "panel panel-dark-grey panel-widget">
            <div class = "row no-padding">
                <div class = "col-lg-2 widget-left center">
                    <img src="img/Egalitarian.png">
                    <div class = "text-muted">Egalitarian</div>
                </div>
                <div class = "col-lg-10 widget-right height-180 padding-10">
                    <p class = "italics">
                        Any society that does not embrace equality between its members - where an individual can rise to any position with enough hard work - 
                        is not only deeply unfair, but ultimately counterproductive for any civilization.
                    </p>
                    <p class = "bold">
                        Equalists that push for the advancement of individual citizen rights, progressiveness and representative forms of government.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class = "panel panel-dark-grey panel-widget">
            <div class = "row no-padding">
                <div class = "col-lg-2 widget-left center">
                    <img src="img/Authoritarian.png">
                    <div class = "text-muted">Authoritarian</div>
                </div>
                <div class = "col-lg-10 widget-right height-180 padding-10">
                    <p class = "italics">
                            A strong, guiding hand is essential to the success of any civilization - the alternative would be anarchy and chaos. 
                            It is the duty of the state to steer its citizens towards the paths that are the most productive.
                    </p>
                    <p class = "bold">
                        Authoritarian.text
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "row">
    <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
        <div class = "panel panel-dark-grey panel-widget">
            <div class = "row no-padding">
                <div class = "col-lg-2 widget-left center">
                    <img src="img/Pacifist.png">
                    <div class = "text-muted">Pacifist</div>
                </div>
                <div class = "col-lg-10 widget-right height-180 padding-10">
                    <p class = "italics">
                        Conflict as a means to an end is a ridiculous concept. It is by nature destructive, destroying what was to be obtained or giving room to grow that which was to be destroyed.
                    </p>
                    <p class = "bold">
                        Pacifist.text
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class = "panel panel-dark-grey panel-widget">
            <div class = "row no-padding">
                <div class = "col-lg-2 widget-left center">
                    <img src="img/Militarist.png">
                    <div class = "text-muted">Militarist</div>
                </div>
                <div class = "col-lg-10 widget-right height-180 padding-10">
                    <p class = "italics">
                        The only true virtues are courage and discipline, and channeled properly they can overcome any obstacle. Therein lies true strength; force withheld, a promise made.
                    </p>
                    <p class = "bold">
                        Militarist.text
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "row">
    <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
        <div class = "panel panel-dark-grey panel-widget">
            <div class = "row no-padding">
                <div class = "col-lg-2 widget-left center">
                    <img src="img/Materialist.png">
                    <div class = "text-muted">Materialist</div>
                </div>
                <div class = "col-lg-10 widget-right height-180 padding-10">
                    <p class = "italics">
                            As we reach for the stars, we must put away childish things; gods, spirits and other phantasms of the brain. 
                            Reality is cruel and unforgiving, yet we must steel ourselves and secure the survival of our race through the unflinching pursuit of science and technology.
                    </p>
                    <p class = "bold">
                        Materialist.text
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class = "panel panel-dark-grey panel-widget">
            <div class = "row no-padding">
                <div class = "col-lg-2 widget-left center">
                    <img src="img/Spiritualist.png">
                    <div class = "text-muted">Spiritualist</div>
                </div>
                <div class = "col-lg-10 widget-right height-180 padding-10">
                    <p class = "italics">
                            There are those think it behooves us to remember how tiny we are, how pointless our lives in this vast uncaring universe... What nonsense! 
                            The only truth we can ever know is that of our own existence. 
                            The universe - in all its apparent glory - is but a dream we all happen to share.
                    </p>
                    <p class = "bold">
                        Spiritualist.text
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class = "row">
    <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
        <div class = "panel panel-dark-grey panel-widget">
            <div class = "row no-padding">
                <div class = "col-lg-2 widget-left center">
                    <img src="img/Xenophile.png">
                    <div class = "text-muted">Xenophile</div>
                </div>
                <div class = "col-lg-10 widget-right height-180 padding-10">
                    <p class = "italics">
                            There exists, in all of us, a deep-seated fascination for the unknown. An adventurous spirit that rejects the familiar and glories in the unfamiliar, whatever - or whomever - it may be.
                    </p>
                    <p class = "bold">
                        Xenophile.text
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class = "panel panel-dark-grey panel-widget">
            <div class = "row no-padding">
                <div class = "col-lg-2 widget-left center">
                    <img src="img/Xenophobe.png">
                    <div class = "text-muted">Xenophobe</div>
                </div>
                <div class = "col-lg-10 widget-right height-180 padding-10">
                    <p class = "italics">
                            The stakes could not be higher as we reach into the vast uncharted expanses of the galaxy, for we are gambling with the very survival of our species! Never trust the alien; its false smile hides an unknowable mind.
                    </p>
                    <p class = "bold">
                        Xenophobe.text
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>