
<div class = "row">
    <a href = "StellarisSurvey/1">
        <div class="panel panel-blue col-lg-2 col-lg-offset-5">
            <div class = "panel-heading dark-overlay">
                Begin Survey
            </div>
        </div>
    </a>			
</div>