<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <div class="row center-block">
            <ol class="breadcrumb">
                <li>
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                    </a>
                </li>
                <li>
                    <a href = "#">
                        <b>Stellaris Ethnic Survey</b>
                    </a>
                </li>
            </ol>
        </div>

        <li><a href="#"><span class = "glyphicon glyphicon-plus"></span> Add Questions </a></li>
        <li><a href="/EditStellarisSurvey"><span class = "glyphicon glyphicon-list-alt"></span> Edit Survey </a></li>

        <div class="center-block">
            <ol class="breadcrumb home-sidebar-list-header">
                <li>
                    <svg class="glyph stroked">
                        <span class="glyphicon glyphicon-th-large"></span>
                    </svg>

                    <a href="#" class="no-color-change no-text-overflow">
                        <span data-toggle="collapse" href="#sub-item-1">
                            <svg class="glyph stroked">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </svg>
                            <b>CREDITS</b>
                        </span>
                    </a>
                </li>
            </ol>
        </div>

        <li class="parent">
            <ul class="children collapse" id="sub-item-1">
                <li>
                    <a class="" href="https://github.com/KittyJ-Immalle" target="_blank">
                        <img src="https://avatars3.githubusercontent.com/u/31662247?s=400&v=4" class="rounded-corners" height="35" width="35">  Kitty Jacobs
                    </a>
                </li>
                <li>
                    <a class="" href="https://github.com/TK-Tang" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/13690069?s=460&v=4" class="rounded-corners" height="35" width="35">  TK Tang
                    </a>
                </li>
                <li>
                    <a class="" href="https://github.com/SimonGHTang" target="_blank">
                        <img src="https://avatars0.githubusercontent.com/u/25281836?s=460&v=4" class="rounded-corners" height="35" width="35">  Simon Tang
                    </a>
                </li>
            </ul>
        </li>
        <li role="presentation" class="divider"></li>
    </ul>
    <div class="attribution"></div>
</div>