<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <ul class="nav menu">
        <div class="row center-block">
            <ol class="breadcrumb">
                <li>
                    <svg class="glyph stroked home">
                        <use xlink:href="#stroked-home"></use>
                    </svg>
                    </a>
                </li>
                <li>
                    <a href = "#">
                        <b>Stellaris Ethnic Survey</b>
                    </a>
                </li>
            </ol>
        </div>

        <li><a href="#"><span class = "glyphicon glyphicon-plus"></span> Add Questions </a></li>
        <li><a href="#"><span class = "glyphicon glyphicon-list-alt"></span> Edit Survey </a></li>
        
        <div class="row center-block">
            <ol class="breadcrumb">
                <li class="parent">
                    <a href="#">
                        <span data-toggle="collapse" href="#sub-item-1"><span class = "glyphicon glyphicon-th-large"></span> <span class = "glyphicon glyphicon-chevron-right"></span> <b> Bonus Survey </b></span>
                    </a>
                    <ul class="children collapse" id="sub-item-1">
                        <li>
                            <a class="" href="#">
                                <span class = "glyphicon glyphicon-book"></span> New Custom Survey
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <span class = "glyphicon glyphicon-edit"></span> Edit Existing Survey
                            </a>
                        </li>
                        <li>
                            <a class="" href="#">
                                <span class = "glyphicon glyphicon-check"></span> Start Custom Survey
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <li role="presentation" class="divider"></li>
    </ul>
    <div class="attribution"></div>
</div>