<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Stellaris - Ethics</title>

<link href="views/css/bootstrap.min.css" rel="stylesheet">
<link href="views/css/datepicker3.css" rel="stylesheet">
<link href="views/css/styles.css" rel="stylesheet">
<link href="views/css/stellaris-ethnics.css" rel="stylesheet">

<!--Icons-->
<script src="views/js/lumino.glyphs.js"></script>

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>Stellaris</span> Ethnic Survey</a>

			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">

			<div class="row center-block">
				<ol class="breadcrumb">
					<li>
						<svg class="glyph stroked home">
							<use xlink:href="#stroked-home"></use>
						</svg>
						</a>
					</li>
					<li>
						<a href = "#">
							<b>Stellaris Ethnic Survey</b>
						</a>
					</li>
				</ol>
			</div>

			<li><a href="#"><span class = "glyphicon glyphicon-plus"></span> Add Questions </a></li>

			<li><a href="#"><span class = "glyphicon glyphicon-list-alt"></span> Edit Survey </a></li>

			
			<div class="row center-block">
				<ol class="breadcrumb">
					<li class="parent">
						<a href="#">
							<span data-toggle="collapse" href="#sub-item-1"><span class = "glyphicon glyphicon-th-large"></span> <span class = "glyphicon glyphicon-chevron-right"></span> <b> Bonus Survey </b></span>
						</a>
						<ul class="children collapse" id="sub-item-1">
							<li>
								<a class="" href="#">
									<span class = "glyphicon glyphicon-book"></span> New Custom Survey
								</a>
							</li>
							<li>
								<a class="" href="#">
									<span class = "glyphicon glyphicon-edit"></span> Edit Existing Survey
								</a>
							</li>
							<li>
								<a class="" href="#">
									<span class = "glyphicon glyphicon-check"></span> Start Custom Survey
							</li>
						</ul>
					</li>
				</ol>
			</div>
			<li role="presentation" class="divider"></li>
		</ul>
		<div class="attribution"></div>
	</div><!--/.sidebar-->


	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<ol class="breadcrumb">
				<li>
					<a href = "dashboard">
					<span class = "glyphicon glyphicon-asterisk"></span>
					</a>
				</li>
				<li>
					Dashboard
				</li>
			</ol>
		</div>

		 <div class = "row">
			<h1 class = "text-center">Stellaris Ethnics</h1>
		 </div>

		<div class = "row">
			<div class = "col-lg-12">
				<div class = "panel panel-info">
					<div class = "panel-heading">
						What is Stellaris Ethnics Survey?
					</div>
					<div class = "panel-body text-center">	
						Stellaris is a political and military game where you play as an interstellar empire that has just unlocked superluminal travel. 
						As your people explore and expand into space, they will encounter other alien civiliations. Some seek for peaceful coopoeration, others galactic conquest. 
						Some seek for technological supremacy, others may be hellbent on the extermination of all advanced forms of life. 
						Through diplomacy or force of arms, through your civilization, you enact your will and shape the future of the galaxy and the interstellar community.		
					</div>
				</div>
			</div>
		</div>
		
		<div class = "row" >
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
				<div class = "panel panel-dark-grey panel-widget">
					<div class = "row no-padding">
						<div class = "col-lg-2 widget-left center">
							<img src="views/img/Egalitarian.png">
							<div class = "text-muted">Egalitarian</div>
						</div>
						<div class = "col-lg-10 widget-right height-180 padding-10">
							<p class = "italics">
								Any society that does not embrace equality between its members - where an individual can rise to any position with enough hard work - 
								is not only deeply unfair, but ultimately counterproductive for any civilization.
							</p>
							<p class = "bold">
								Equalists that push for the advancement of individual citizen rights, progressiveness and representative forms of government.
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class = "panel panel-dark-grey panel-widget">
					<div class = "row no-padding">
						<div class = "col-lg-2 widget-left center">
							<img src="views/img/Authoritarian.png">
							<div class = "text-muted">Authoritarian</div>
						</div>
						<div class = "col-lg-10 widget-right height-180 padding-10">
							<p class = "italics">
									A strong, guiding hand is essential to the success of any civilization - the alternative would be anarchy and chaos. 
									It is the duty of the state to steer its citizens towards the paths that are the most productive.
							</p>
							<p class = "bold">
								Authoritarian.text
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
				<div class = "panel panel-dark-grey panel-widget">
					<div class = "row no-padding">
						<div class = "col-lg-2 widget-left center">
							<img src="views/img/Pacifist.png">
							<div class = "text-muted">Pacifist</div>
						</div>
						<div class = "col-lg-10 widget-right height-180 padding-10">
							<p class = "italics">
								Conflict as a means to an end is a ridiculous concept. It is by nature destructive, destroying what was to be obtained or giving room to grow that which was to be destroyed.
							</p>
							<p class = "bold">
								Pacifist.text
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class = "panel panel-dark-grey panel-widget">
					<div class = "row no-padding">
						<div class = "col-lg-2 widget-left center">
							<img src="views/img/Militarist.png">
							<div class = "text-muted">Militarist</div>
						</div>
						<div class = "col-lg-10 widget-right height-180 padding-10">
							<p class = "italics">
								The only true virtues are courage and discipline, and channeled properly they can overcome any obstacle. Therein lies true strength; force withheld, a promise made.
							</p>
							<p class = "bold">
								Militarist.text
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
				<div class = "panel panel-dark-grey panel-widget">
					<div class = "row no-padding">
						<div class = "col-lg-2 widget-left center">
							<img src="views/img/Materialist.png">
							<div class = "text-muted">Materialist</div>
						</div>
						<div class = "col-lg-10 widget-right height-180 padding-10">
							<p class = "italics">
									As we reach for the stars, we must put away childish things; gods, spirits and other phantasms of the brain. 
									Reality is cruel and unforgiving, yet we must steel ourselves and secure the survival of our race through the unflinching pursuit of science and technology.
							</p>
							<p class = "bold">
								Materialist.text
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class = "panel panel-dark-grey panel-widget">
					<div class = "row no-padding">
						<div class = "col-lg-2 widget-left center">
							<img src="views/img/Spiritualist.png">
							<div class = "text-muted">Spiritualist</div>
						</div>
						<div class = "col-lg-10 widget-right height-180 padding-10">
							<p class = "italics">
									There are those think it behooves us to remember how tiny we are, how pointless our lives in this vast uncaring universe... What nonsense! 
									The only truth we can ever know is that of our own existence. 
									The universe - in all its apparent glory - is but a dream we all happen to share.
							</p>
							<p class = "bold">
								Spiritualist.text
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6"> 
				<div class = "panel panel-dark-grey panel-widget">
					<div class = "row no-padding">
						<div class = "col-lg-2 widget-left center">
							<img src="views/img/Xenophile.png">
							<div class = "text-muted">Xenophile</div>
						</div>
						<div class = "col-lg-10 widget-right height-180 padding-10">
							<p class = "italics">
									There exists, in all of us, a deep-seated fascination for the unknown. An adventurous spirit that rejects the familiar and glories in the unfamiliar, whatever - or whomever - it may be.
							</p>
							<p class = "bold">
								Xenophile.text
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-6">
				<div class = "panel panel-dark-grey panel-widget">
					<div class = "row no-padding">
						<div class = "col-lg-2 widget-left center">
							<img src="views/img/Xenophobe.png">
							<div class = "text-muted">Xenophobe</div>
						</div>
						<div class = "col-lg-10 widget-right height-180 padding-10">
							<p class = "italics">
									The stakes could not be higher as we reach into the vast uncharted expanses of the galaxy, for we are gambling with the very survival of our species! Never trust the alien; its false smile hides an unknowable mind.
							</p>
							<p class = "bold">
								Xenophobe.text
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class = "row">
			<div class = "col-lg-3 col-lg-offset-5">
				<!--<a href = "#" class = "btn btn-info" role = "button">-->
					<button href="#" type="button" class="btn btn-info"><p class = "text-muted bold panel-heading">Start Survey</p></button>
				</a>
			</div>
			
		</div>
	</div>
		
		
	  

	<script src="views/js/jquery-1.11.1.min.js"></script>
	<script src="views/js/bootstrap.min.js"></script>
	<script src="views/js/chart.min.js"></script>
	<script src="views/js/chart-data.js"></script>
	<script src="views/js/easypiechart.js"></script>
	<script src="views/js/easypiechart-data.js"></script>
	<script src="views/js/bootstrap-datepicker.js"></script>
	<script>
		!function ($) {
		    $(document).on("click","ul.nav li.parent > a > span.icon", function(){          
		        $(this).find('em:first').toggleClass("glyphicon-minus");      
		    }); 
		    $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
		}(window.jQuery);

		$(window).on('resize', function () {
		  if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
		})
		$(window).on('resize', function () {
		  if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
		})
	</script>	
</body>

</html>
